@import "assets/colors.scss";

.Patterns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 95%;
  z-index: -1;
  pointer-events: none;
}
