@import "assets/colors.scss";

.LoginForm {
  width: 100%;
  height: calc(100% - 2vh * 2);
  padding: 2vh 2vw;
  display: flex;
  justify-content: center;

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__rowField {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
  }

  &__inputFieldContainer {
    width: 100%;
    height: 45%;
    margin-top: 1vh;
  }

  // Extras (forgot password & other auth methods)
  &__extrasRow {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    user-select: none;
  }

  &__authMethods {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__googleLogo {
    width: 2vw;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__forgotPassword {
    width: 50%;
    font-size: 0.9em;
    text-decoration: underline;
    white-space: pre;
    cursor: pointer;
  }

  &__createAccount {
    margin-top: auto;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
  }
}
