@import "assets/colors.scss";

.Home {
  width: 100%;
  height: 100%;
  user-select: none;

  &__headingContainer {
    padding: 32px 0 8px 0;
    margin-left: 85px;
    overflow: hidden;
  }
  
  &__title {
    font-size: 4.2em;
    font-weight: bold;
    text-overflow: hidden;
  }

  &__subtitle {
    padding: 4px 0 0 28px;
    font-size: 2em;
    font-weight: bold;
    color: $grey-500;
    text-overflow: hidden;
  }

  &__buttonSong {
    width: 20vw;
    height: 8vh;
    margin: 185px 0px 0 508px;
  }

  &__graphics {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
  }
}
