@import "assets/colors.scss";

.Modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__backdrop {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: 0.5;
  }

  &__window {
    width: 22vw;
    height: 48%;
    z-index: 2;
    position: relative;
    background-color: $white;
    border: 0.25vw solid $black;
    border-radius: 3vw;
    overflow: hidden;
  }

  &__header {
    height: 12%;
    padding: 0 38px;
    display: flex;
    align-items: center;
    border-bottom: 0.2vw solid black;
  }

  // Header elements
  &__title {
    font-size: 1.4em;
    font-weight: bold;
    user-select: none;
  }

  &__closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
  }

  // Modal body
  &__body {
    display: flex;
    height: 76%;
  }

  // Submit button container
  &__submitButtonContainer {
    width: 20%;
    z-index: 2;
    height: 8%;
    margin-top: 2vh;
  }

  // Modal footer (button)
  &__footerButton {
    height: 10.5%;
    padding: 0 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red-500;
    border-top: 0.2vw solid black;
    cursor: pointer;
  }

  &__buttonText {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
  }

  &--disabledFooterButton {
    background-color: $grey-600;
    color: $white;
    cursor: default;
  }
}
