@import "assets/colors.scss";

.Navbar {
  padding: 0 32px;
  margin-bottom: 42px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }

  &__menuItemsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__menuItem {
    height: 100%;
    padding: 0 12px;
  }

  &__authContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__authButton {
    width: 130px;
    height: 38px;
  }

  &__divider {
    width: 72%;
    height: 1px;
    background-color: $grey-700;
  }
}
