@import "assets/colors.scss";

.Navbar {
  position: sticky;
  top: 0;
  padding: 0 48px;
  margin-bottom: 42px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;

  &--mobile {
    padding: 8px 16px;
    border-bottom: 1px solid $black;
  }

  &__mobileMenuButton {
    margin-left: auto;
  }

  &__mobileMenuBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    opacity: 0.3;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }

  &__menuItemsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--mobile {
      position: absolute;
      top: 12vh;
      right: 1vh;
      width: 95%;
      height: unset;
      flex-direction: column;
      align-items: flex-end;
      z-index: 1;
      background-color: $white;
      border: 2px solid $black;
      border-radius: 5vw;
    }
  }

  &__menuItem {
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--mobile {
      width: 100%;
      height: unset;
      padding: 12px 4px;
    }
  }

  &__dividerHorizontal {
    width: 72%;
    height: 1px;
    background-color: $grey-700;
  }

  // unauthenticated elements styling
  &__unauthenticatedContainer {
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__authButtonsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__authButton {
    width: 130px;
    height: 38px;
  }

  // authenticated elements styling
  &__authenticatedContainer {
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__profileContainer {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__dividerVertical {
    width: 1px;
    height: 72%;
    margin: 0 24px;
    background-color: $grey-700;
  }

  &__profileDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
    user-select: none;
  }

  &__profileOptionButton {
    margin: 0 8px;
    cursor: pointer;
  }

  &__username {
    margin-bottom: 4px;
  }

  &__ratingContainer {
    display: flex;
    align-items: center;
    color: $grey-500;
  }

  &__ratingIcon {
    fill: $gold;
  }

  &__userAvatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: red; // testing
  }

  &__optionsToggleIcon {
    position: absolute;
    bottom: -14px;
    right: -14px;
    cursor: pointer;
  }

  &__profileOptionsDropdown {
    position: absolute;
    top: 10vh;
    right: 2vw;
    width: 14vw;
    height: 14vh;
    background: $white;
    border: 2px solid $black;
    border-radius: 1.4vw;
  }

  &__optionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 31.7%;
    padding: 0 12px;
    user-select: none;
    cursor: pointer;
  }

  &__optionText {
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 4px;
  }

  &__optionsDivider {
    width: 100%;
    height: 2px;
    background-color: $black;
  }
}
