@import "assets/colors.scss";

.Spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: calc(90vh - 42px);

  div {
    position: absolute;
    z-index: 2;
  }

  path {
    stroke: $red-500;
  }
}
