// The main pallete of Achordio
$white: #ffffff;
$black: #000000;
$grey-500: #666666;
$grey-600: #acacac;
$grey-700: #cccccc;
$red-700: #ffb3ae;
$red-600: #fd7253;
$red-500: #fe3c3c; // Primary brand color
$red-400: #fe2323;
$red-300: #fe0707;
$gold: #fed33c;
